  
<div class="ratingContainer">
  <h1>Your experience matters, share your review</h1>
  <form #userForm="ngForm" (ngSubmit)="accomodation(userForm.value)">
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Your grade</mat-label>
        <input matInput ngModel name="grade" #grade="ngModel" placeholder="Give your grade">
      </mat-form-field>
     </div>
     <div>
      <button mat-raised-button type="submit" class="submit">Submit</button>
      </div>
    </form>
  </div>
  