<!--
<form #userForm='ngForm' (ngSubmit)="registerUser(userForm.value)">
    <div class="rgform">
      <div class="info">
        <p class="title"> Register</p>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Name</mat-label>
        <input  matInput ngModel name="name" #name="ngModel" placeholder="Name">
        <mat-hint>Enter the name</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Surname</mat-label>
        <input  matInput ngModel name="surname" #surname="ngModel" placeholder="Surname">
        <mat-hint></mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Username</mat-label>
        <input  matInput ngModel name="username" #username="ngModel" placeholder="Username">
        <mat-hint></mat-hint>
      </mat-form-field>
   
      <mat-form-field appearance="fill">
        <mat-label>Email</mat-label>
        <input matInput ngModel name="email" #email="ngModel" placeholder="emailaddres@gmail.com">
        <mat-hint>Enter email</mat-hint>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Password</mat-label>
        <input type="password" matInput ngModel name="password1" #password1="ngModel" placeholder="Enter password">
        <mat-hint>Enter password</mat-hint>
      </mat-form-field>
      <span class="spacer"></span>
      <button mat-raised-button  class="submit">Submit</button>
    </div>
</form>

---->



<div class="login-box">
  <img src="/assets/avatar.png" class="avatar">
      <h1>Register Here</h1>
          <form #userForm='ngForm' (ngSubmit)="registerUser(userForm.value)">

          <p>Username</p>
          <input  type="text" name="username" placeholder="Enter Name" id="ime" required [(ngModel)]="ime">
          <p>Surname</p>
          <input type="text" name="prezime" placeholder="Enter Surname" id="prezime" required [(ngModel)]="prezime">
          <p>Username</p>
          <input type="text" name="korisnickoIme" placeholder="Enter Username" id="korisnickoIme" required [(ngModel)]="korisnickoIme">
          <p>Email</p>
          <input type="text" name="email" placeholder="Enter Email" id="email" required [(ngModel)]="email">
          <p>Password</p>
          <input type="password" name="sifra" placeholder="Enter Password" id="sifra" required [(ngModel)]="sifra">

          <input type="submit" name="submit" value="Register"  [disabled]="!ime || !prezime || !korisnickoIme || !email || !sifra ">

          <br>
          <br>
          <div class="signup">
          <span class="signup">Already have an account?
            <label (click)="redirect()">Sign in</label>
          </span> 
        </div>
          </form>


        