
<div class="reservation-dialog">
  <h2>Smeštaj Anastazija</h2>
  <p>$100 per person</p>
  
  <div class="date-pickers">
    <mat-form-field class="start-date">
      <input matInput [matDatepicker]="startDatePicker" placeholder="Check-In Date" [(ngModel)]="startDate">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field class="end-date">
      <input matInput [matDatepicker]="endDatePicker" placeholder="Check-Out Date" [(ngModel)]="endDate">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
    </mat-form-field>
  </div>
  
  <div class="guests">
    <p>Number of Guests:</p>
    <input type="number" [(ngModel)]="numberOfGuests" placeholder="Enter the number of guests">
  </div>

  <button mat-raised-button (click)="makeReservation()">Reserve</button>
  
  <p>You won't be charged yet</p>

  <div class="total">
    <p>Total:</p>
    <p>$300</p>
  </div>
</div>