
    <table>
        <tr>
          <td>
            <div class="accommodation-details">
              <h2>{{ data.name }}</h2>
              <p>{{ data.location }}</p>
              <p>Number of Guests:</p>
              <input type="number" [(ngModel)]="numberOfGuests" placeholder="Enter the number of guests">
            </div>
          </td>
          <td>
            <div class="date-range-picker">
              <mat-form-field>
                <input matInput [matDatepicker]="startDatePicker" placeholder="Start Date" [(ngModel)]="startDate">
                <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #startDatePicker></mat-datepicker>
              </mat-form-field>
      
              <mat-form-field>
                <input matInput [matDatepicker]="endDatePicker" placeholder="End Date" [(ngModel)]="endDate">
                <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                <mat-datepicker #endDatePicker></mat-datepicker>
              </mat-form-field>
            </div>
          </td>
        </tr>
      </table>
      
      <button mat-raised-button color="primary" (click)="makeReservation()">Make Reservation</button>

