<div class="card-container" *ngIf="tickets.length > 0; else noTickets">
    <mat-card *ngFor="let ticket of tickets" class="one-card">
        <mat-card-header>
            <mat-card-title>{{ticket.flight?.fromplace}} → {{ticket.flight?.toplace}}</mat-card-title>
          </mat-card-header>
          <mat-card-subtitle>
            <p *ngIf="ticket.expired" class="expiredtic">EXPIRED</p>
          </mat-card-subtitle>
          <mat-card-content>
            Departure date: {{ticket.flight?.starttime | date:'short'}} <br>
            Arrival date: {{ticket.flight?.endtime | date:'short'}} <br>
            Quantity: {{ticket.quantity}}
          </mat-card-content>
          <mat-card-actions>
            <button mat-raised-button (click)="openTicketDetailsDialog(ticket)">View details</button>
          </mat-card-actions>
    </mat-card>
  </div>

  <ng-template #noTickets>
    <h2>Oops! You don't have any purchased flight tickets yet. <br>
      Why not search for some great deals on flights and plan your next adventure?</h2><br>
      <button mat-raised-button (click)="GoToAllFlightsPage()" class="allflights-button">Search flights</button>
  </ng-template>
