<div class="card-container">
    <mat-card *ngFor="let ticket of tickets" class="one-card">
        <mat-card-header>
            <mat-card-title>{{ticket.flight?.fromplace}} → {{ticket.flight?.toplace}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            Departure date: {{ticket.flight?.starttime | date:'short'}} <br>
            Arrival date: {{ticket.flight?.endtime | date:'short'}} <br>
            Quantity: {{ticket.quantity}}
          </mat-card-content>
          <mat-card-actions>
            <button  class="dugme1" mat-raised-button (click)="openTicketDetailsDialog(ticket)">View details</button>
            <button class="dugme2"  mat-raised-button   (click)="deleteTicket(ticket)">Delete</button>
          </mat-card-actions>
      
    </mat-card>
  </div>
