.card-container {
    display: flex;
    flex-wrap: wrap;
    
  }
  
  mat-card {
    width: calc(33.33% - 10px);
    margin-bottom: 20px;
  }
.one-card{
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
}


.dugme1:hover {
  background-color:#1D63DC;
  transition: 1.25s;
}

.dugme2:hover {
  background-color:#FF0000;
  transition: 1.25s;
}

h2 {
  text-align: center;
  margin-top: 20px;
}
.allflights-button{
  display: block;
  margin: 0 auto;
}
.expiredtic{
  margin-left: 10px;

}