<div class="login-box">
  <img src="/assets/avatar.png" class="avatar">
      <h1>Register Here</h1>
          <form #userForm='ngForm' (ngSubmit)="registerUser(userForm.value)">

          <p>Name</p>
          <input  type="text" name="username" placeholder="Enter Name" id="ime" required [(ngModel)]="ime">
          <p>Surname</p>
          <input type="text" name="prezime" placeholder="Enter Surname" id="prezime" required [(ngModel)]="prezime">
          <p>Username</p>
          <input type="text" name="korisnickoIme" placeholder="Enter Username" id="korisnickoIme" required [(ngModel)]="korisnickoIme">
          <p>Email</p>
          <input type="text" name="email" placeholder="Enter Email" id="email" required [(ngModel)]="email">
          <p>City</p>
          <input type="text" name="city" placeholder="Enter Country" id="country" required [(ngModel)]="country">
          <p>Coutry</p>
          <input type="text" name="country" placeholder="Enter City" id="city" required [(ngModel)]="city">
          <p>Password</p>
          <input type="password" name="sifra" placeholder="Enter Password" id="sifra" required [(ngModel)]="sifra">
            
          <p>Are you making an account for host?</p>
            <label>
              <input type="checkbox" name="isHost" [(ngModel)]="isHost">
            </label>

          <input type="submit" name="submit" value="Register"  [disabled]="!ime || !prezime || !korisnickoIme || !email || !sifra ">
          </form>

