
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--
<form #AAA="ngForm" (ngSubmit)="Search(AAA.value)">
  <mat-form-field>
    <input matInput name="searchinput" #searchinput="ngModel" ngModel placeholder="Search">
  </mat-form-field>
  <button type="submit" mat-raised-button>Search</button>
</form>
-->



<div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search from Place"
        [(ngModel)]="fromPlace"
      />
      <input
        type="text"
        class="form-control"
        placeholder="Search to Place"
        [(ngModel)]="toPlace"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          type="button"
          (click)="filterByNameAndSurname()"
        >
          Search
        </button>
      </div>
    </div>
  </div>



  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="flights" matSort >
  
  
    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
  
    <ng-container matColumnDef="fromplace">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> From Place </th>
      <td mat-cell *matCellDef="let element"> {{element.fromplace}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="toplace">
      <th mat-header-cell *matHeaderCellDef  mat-sort-header> To Place </th>
      <td mat-cell *matCellDef="let element"> {{element.toplace}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="starttime"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Start Time </th>
      <td mat-cell *matCellDef="let element"> {{element.starttime | date:'short'}} </td>
    </ng-container>
    <!-- Symbol Column -->

    <ng-container matColumnDef="endtime"  >
      <th mat-header-cell *matHeaderCellDef mat-sort-header>End Time </th>
      <td mat-cell *matCellDef="let element"> {{element.endtime | date:'short'}} </td>
    </ng-container>

    <ng-container matColumnDef="ticketprice"  >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Ticket Price </th>
        <td mat-cell *matCellDef="let element"> {{element.ticketprice}} </td>
      </ng-container>

      <ng-container matColumnDef="numofseats"  >
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Number of Seats </th>
        <td  mat-cell *matCellDef="let element"> {{element.numofseats === 0 ? 'Not Available' : element.numofseats}} </td>
      </ng-container>

      <ng-container matColumnDef="Delete">
        <th mat-header-cell *matHeaderCellDef> Delete </th>
        <td mat-cell *matCellDef="let element">
          <button class="nesto"  mat-icon-button 
            (click)="deleteFlight(element)">
            <mat-icon matTooltip="delete">delete</mat-icon>
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="Buy">
        <th mat-header-cell *matHeaderCellDef> </th>
        <td mat-cell *matCellDef="let element">
          <button [disabled]="element.numofseats === 0" class="buyticktet"
            (click)="openDialog(element)">Buy ticket</button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>

  
  