
.subtitle{
  font-family: 'Caveat', cursive;
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Urbanist', sans-serif;
  font-size: 2.5em;
  width: 50%;
  margin-left:10%;
  margin-bottom: 6em;
  
}
.title{
  font-family: 'Caveat', cursive;
  font-family: 'Libre Franklin', sans-serif;
  font-family: 'Raleway', sans-serif;
  font-family: 'Urbanist', sans-serif;
  font-size: 5.5em;
  width: 28%;
  margin-left: 10%;
  margin-top: 2em;
  margin-bottom: 0.7em;
 
}

.cardscontainer {
  display: flex;
  margin-left: 3%;
  margin-right: 10%;
  width: 70%;
  background-color: #FFD700;
 
}
.carouselImageContainer {
  position: relative;
}
.imageHint {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(254, 254, 254, 0.372);
  color: black;
  padding: 10px;
  border-radius: 5px;
  z-index: 200;
}

.accommodation-card {
  padding: 2%;
  margin-right: 45px;
  margin-bottom: 45px;
  width: 450px;
  height: 600x;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s; 
  background-color: white;
  
}


.accommodation-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}


  .info{
    display: grid;
    place-items: center;
  }
 
  .pictures {
    height: 70%;
    width: 100%;
    
  }

  .search {
    margin-left: 26%;
     }
    

  .owl-carousel-o, .owl-carousel, .owl-stage, .owl-stage-outer {
      width: 100% !important;
      height: 100% !important;
  }
  
  .carouselPicture {
      width: 100% !important;
      height: 100% !important;
      
      object-fit: cover;
      
  }
  

  .search mat-form-field{
    margin: 4 auto;
  }
  
  /*.pictures img {
    max-width: 450px; 
    width: 100%; 
    height: auto; 
    object-fit: cover;
    
  }*/
  



.filtriraj {
  flex: 1;
  width: 35%;
  margin-left: 10%;
 
  border-radius: 10px;
  border: 2px solid #ccc;

  display: flex;
  flex-direction: column;
  gap: 15px; 
}
.filerBy{
  border-bottom: 1px solid #ccc;
  padding-top: 0.5em;
  padding-bottom: 0.2em;
  padding-left: 5%;
  padding-right: 0.4em;
  font-size: 2em;
}

.benefits h4{
  font-size: 1.5em ; 
  font-style: bold;
}

.benefits{
  padding-bottom: 0.1em;
  padding-left: 5%;
}

.prikaz{
  display: flex;
}

.toggle {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 15px;
}

.toggle input {
  display: none;
}




.prominent-card-color {
  background-color: #FFD700;
}