<h1>Accommodations</h1>
<div class="search">
  <form #userForm="ngForm" (ngSubmit)="search(userForm.value)">
    <mat-form-field appearance="fill">
      <mat-label>Location</mat-label>
      <input matInput ngModel name="location" #location="ngModel" placeholder="Location">
      <mat-hint>Enter the location</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Guests</mat-label>
      <input matInput ngModel name="guests" #guests="ngModel" placeholder="Guests">
      <mat-hint>Enter the number of guests</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Start date</mat-label>
      <input matInput [matDatepicker]="startDatePicker" ngModel name="sdate" #sdate="ngModel" placeholder="Start date">
      <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #startDatePicker></mat-datepicker>
      <mat-hint>Enter the starting date</mat-hint>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>End date</mat-label>
      <input matInput [matDatepicker]="endDatePicker" ngModel name="edate" #edate="ngModel" placeholder="End date">
      <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
      <mat-datepicker #endDatePicker></mat-datepicker>
      <mat-hint>Enter the ending date</mat-hint>
    </mat-form-field>
    <button mat-raised-button type="submit" class="submit">Search</button>
  </form>
  

</div>
<div class="cards">
<div  *ngFor="let accommodation of accommodations">
    <div class="accommodation-card">
      <h2>{{ accommodation.name }}</h2>
      <p>{{ accommodation.location }}</p>
      <p>Min Guests: {{ accommodation.minGuests }}</p>
      <p>Max Guests: {{ accommodation.maxGuests }}</p>
      <p>{{ accommodation.description }}</p>
      <div class="pictures">
        <div *ngFor="let picture of accommodation.pictures">
          <img [src]="picture" alt="Accommodation Picture">
        </div>
      </div>
      <button class="reservation-button" (click)="openDialog(accommodation)">Make a reservation</button>
    </div>
  </div>
</div>