

<div class="background-image">
  <h1 class="title">Find your next stay</h1>
  <h2 class="subtitle"> Search low prices on hotels, apartments and much more...</h2>

  <div class="search">
    <form #userForm="ngForm" (ngSubmit)="search(userForm.value)">
      <mat-form-field appearance="outline">
        <mat-label>Location</mat-label>
        <input matInput ngModel name="location" #location="ngModel" placeholder="Location">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Number of guests</mat-label>
        <input matInput ngModel name="guests" #guests="ngModel" placeholder="Guests">
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Check in</mat-label>
        <input matInput [matDatepicker]="startDatePicker" ngModel name="sdate" #sdate="ngModel" placeholder="Start date">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Check out</mat-label>
        <input matInput [matDatepicker]="endDatePicker" ngModel name="edate" #edate="ngModel" placeholder="End date">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
      </mat-form-field>
      <button mat-raised-button type="submit" class="submit">Search</button>
    </form>
  </div>
</div>

<div class="prikaz">
  <div class="filtriraj">
    <h3 class="filerBy">Filter by:</h3>
      <div class="benefits">
        <h4>Benefits:</h4>

        <mat-checkbox [(ngModel)]="WIFI"></mat-checkbox> <label>Wifi</label><br>
        <mat-checkbox [(ngModel)]="KITCHEN"></mat-checkbox><label>Kitchen</label> <br>
        <mat-checkbox [(ngModel)]="FREEPARKING"></mat-checkbox><label>Free parking </label><br>
        <mat-checkbox></mat-checkbox><label >Swimming pool </label><br>
        <mat-checkbox></mat-checkbox><label >Twin beds </label><br>
        <mat-checkbox></mat-checkbox><label >Breakfast included </label><br>
        <mat-checkbox></mat-checkbox><label >Pets allowed </label><br>
        <mat-checkbox></mat-checkbox><label >Fitness centre </label><br>
        <mat-checkbox></mat-checkbox><label >Spa and wellnes </label><br>
        <!-- <mat-checkbox [(ngModel)]="PROMINENT">ProminentHost</mat-checkbox> <br> -->
        
      </div>

      <div class="price-range">
        <h4>Price range:</h4>
        <mat-form-field appearance="outline">
          <mat-label>Price Range (Min)</mat-label>
          <input matInput type="number" [(ngModel)]="selectedPriceValue.min" name="minPrice" placeholder="Min Price"
            min="1" onkeyup="if(this.value<0)this.value=1" onblur="if(this.value<0)this.value=1">
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Price Range (Max)</mat-label>
          <input matInput type="number" [(ngModel)]="selectedPriceValue.max" name="maxPrice" placeholder="Max Price"
            onkeyup="if(this.value<0)this.value=1" onblur="if(this.value<0)this.value=1">
        </mat-form-field>

        <button mat-stroked-button (click)="applyFilters()"> Apply filters</button>
      </div>
  </div>




  <div class="cardscontainer">
    <div *ngFor="let accommodation of filteredAccommodations">
      <div class="accommodation-card"> 
        <div class="picture">
          <img [src]="accommodation.pictures[0]" alt="Accommodation Picture">
        </div>
          <div class="info">
            <br>
            <h2>Name : {{ accommodation.name }}</h2>
            <p class="rating">★ Rating: 4.3</p>
             <p>Location : {{ accommodation.location }}</p>
            <p>{{ accommodation.name }} offers amenities including
              <span *ngIf="accommodation.benefits?.freeParking && onlyTrue(accommodation.benefits)">free parking, </span>
              <span *ngIf="accommodation.benefits?.wifi && onlyTrue(accommodation.benefits)">wifi, </span>
              <span *ngIf="accommodation.benefits?.kitchen && onlyTrue(accommodation.benefits)">kitchen</span>
            </p>
            <p>Price per person is {{ accommodation.id ? accommodationPrices[accommodation.id] : 'N/A' }}$</p>
          </div>
          

          <button mat-stroked-button class="reservation-button" (click)="openDialog(accommodation)">Make a reservation</button>
         
      </div>
    </div>
  </div>
</div>
