<h1>Accommodations</h1>
<div class="search-filtriraj">
  <div class="search">
    <form #userForm="ngForm" (ngSubmit)="search(userForm.value)">
      <mat-form-field appearance="fill">
        <mat-label>Location</mat-label>
        <input matInput ngModel name="location" #location="ngModel" placeholder="Location">
        <mat-hint>Enter the location</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Guests</mat-label>
        <input matInput ngModel name="guests" #guests="ngModel" placeholder="Guests">
        <mat-hint>Enter the number of guests</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Start date</mat-label>
        <input matInput [matDatepicker]="startDatePicker" ngModel name="sdate" #sdate="ngModel" placeholder="Start date">
        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #startDatePicker></mat-datepicker>
        <mat-hint>Enter the starting date</mat-hint>
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>End date</mat-label>
        <input matInput [matDatepicker]="endDatePicker" ngModel name="edate" #edate="ngModel" placeholder="End date">
        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
        <mat-datepicker #endDatePicker></mat-datepicker>
        <mat-hint>Enter the ending date</mat-hint>
      </mat-form-field>
      <button mat-raised-button type="submit" class="submit">Search</button>
    </form>
  </div>

  <div class="filtriraj">
    <b>Benefits:</b>
    <div class="container">
      <div class="benefits">
        <label>Wifi:</label>
        <label class="slider-checkbox">
          <input type="checkbox" class="checkbox" [(ngModel)]="WIFI">
          <span class="slider"></span>
        </label>

        <label>Kitchen:</label>
        <label class="slider-checkbox">
          <input type="checkbox" class="checkbox" [(ngModel)]="KITCHEN">
          <span class="slider"></span>
        </label>

        <label>FreeParking:</label>
        <label class="slider-checkbox">
          <input type="checkbox" class="checkbox" [(ngModel)]="FREEPARKING">
          <span class="slider"></span>
        </label>

        <div>
        <b>ProminentHost:</b>
          <label class="slider-checkbox">
            <input type="checkbox" class="checkbox" [(ngModel)]="PROMINENT">
            <span class="slider"></span>
          </label>
        </div>
      </div>

      <div class="price-range">
        <mat-form-field appearance="fill">
          <mat-label>Price Range (Min)</mat-label>
          <input matInput type="number" [(ngModel)]="selectedPriceValue.min" name="minPrice" placeholder="Min Price"
            min="1" onkeyup="if(this.value<0)this.value=1" onblur="if(this.value<0)this.value=1">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Price Range (Max)</mat-label>
          <input matInput type="number" [(ngModel)]="selectedPriceValue.max" name="maxPrice" placeholder="Max Price"
            onkeyup="if(this.value<0)this.value=1" onblur="if(this.value<0)this.value=1">
        </mat-form-field>

        <button mat-raised-button (click)="applyFilters()">Filter</button>
      </div>
    </div>
  </div>
</div>


<div class="cards">
  <div *ngFor="let accommodation of filteredAccommodations">
    <div class="accommodation-card"> 
      <div>
      <div class="info">
      <h2>Name : {{ accommodation.name }}</h2>
      <p>Location : {{ accommodation.location }}</p>
      <p>Min Guests: {{ accommodation.minGuests }}</p>
      <p>Max Guests: {{ accommodation.maxGuests }}</p>
      <p>Price: {{ accommodation.id ? accommodationPrices[accommodation.id] : 'N/A' }}</p>
      <p>Benefits:
        <span *ngIf="accommodation.benefits?.freeParking && onlyTrue(accommodation.benefits)">FreeParking, </span>
        <span *ngIf="accommodation.benefits?.wifi && onlyTrue(accommodation.benefits)">Wifi, </span>
        <span *ngIf="accommodation.benefits?.kitchen && onlyTrue(accommodation.benefits)">Kitchen</span>
      </p>
      <p> Description: {{ accommodation.description }}</p>
      <div class="pictures">
        <div *ngFor="let picture of accommodation.pictures">
          <img [src]="picture"   alt="Accommodation Picture">
        </div>
      </div>
      <button mat-button class="reservation-button" (click)="openDialog(accommodation)">Make a reservation</button>
      <button mat-button class="reservation-button"  (click)="openAccDialog(accommodation)" >Rate accomodationn </button>
      <button mat-button class="reservation-button" (click)="openHostDialog(accommodation)" >Rate host  </button>
    </div>
  </div>
  </div>
  </div>
</div>
