<mat-toolbar>
    <span>
    <a mat-button class="Homebutton" routerLink="" >XWS</a>
    </span>
    <span class="spacer"></span>
       
        <a mat-button  class="NavBarButton" routerLink="/register" >Register</a>
        <a mat-button  class="NavBarButton" routerLink="/login" >Login</a>
        <a mat-button  class="NavBarButton" routerLink="/new/accommodation" >List your Accommodation</a>
        <a mat-button  class="NavBarButton" routerLink="/myprofile" >My profile</a>
       
</mat-toolbar>

