.container {
  display: flex;
  flex-direction: column; /* Stavljamo sve elemente jedan ispod drugog */
  align-items: stretch; /* Proširuje sve elemente da popune dostupnu širinu */
  width: 80%;
  margin-left: 12%;
  margin-top: 5%;
  height: 700px;
}

form {
  display: flex; /* Flex postavka za formu da bi div-ovi bili jedan pored drugog */
  flex-wrap: wrap; /* Dozvoljava elementima da pređu u sledeći red ako nema dovoljno prostora */
}
.info{
  border-right: 2px solid #ccc;
  margin-right: 50px;
}

.availability{
  border-right: 2px solid #ccc;
  margin-right: 50px;
}

.info, .availability, .last {
  flex: 1; /* Oba div-a će imati istu širinu */
  padding: 10px;
  box-sizing: border-box;
}

.info mat-form-field{
  margin-right: 2%;
}
.last mat-form-field{
  margin-right: 2%;
}


.availability mat-form-field{
  margin-right: 2%;
}
.desc{
  width: 450px;
  height: 200px;
}

.submit{
  margin-left: 400px;
  width: 200px;
  background-color: #cccccc65;
}
/* button[mat-raised-button] {
  margin-top:650px; 
  margin-right: 40px;
  width: 200px; 
  background-color: #cccccc65;
} */
