.wellcome{
  margin-left: 40%;
  margin-top: 5%;
  font-size: 2em;
  width: 20%;
  align-self: center;
}

.prikazslike{
  width: 40%;
  height: 75%;
  margin-top: 5%;
}
.prikazslike img{
width: 70%;
height: 90%;
float: right;
margin-right: 2%;
position: relative;
}
.imageHint {
  position: absolute;
  top: 20%;
  left: 8%;
  transform: translate(-50%, -50%);
  background-color: rgba(254, 254, 254, 0.872);
  color: black;
  padding: 10px;
  border-radius: 5px;
  z-index: 200;
}
.prikazslike input{
  position: absolute;
  margin-top: 9%;
  margin-left: 12%;
  font-size: 1.25em;
  width: auto;
  border: none;


}
.ceoPrikaz{
  display: flex;
}

.prikaz{
  width: 70%;
  float: right;
  margin-top: 2%;
  margin-right: 10%;
}
input{
  font-family: 'Urbanist', sans-serif;
  border: 2px solid #ccc;
  border-radius: 3px;
}
mat-card{
  margin: 5%;
}
mat-card-header{
  background-color: #ccc;
  margin-bottom: 2%;
}

.personalInfo mat-card-content{
  display: inline-block;
  font-size: 1.25em;
}
.personalInfo input{
  font-size: 1.1em;
}
.accountInfo mat-card-content{
  display: inline-block;
  font-size: 1.25em;
}
.accountInfo input{
  font-size: 1.1em;
}

.element{
  margin-right: 15%;
}

.element input{
float: right;
}

.table{
  width: 100%;
  margin-bottom: 2%;
}
.table2{
  width: 70%;
  margin-bottom: 2%;
}
.buttons button{
  float:right;
  margin-left: 2%;
  font-size: 1.1em;
}
.buttons{
  width: 40%;
  float: right;
  margin-right: 5%;
}
